* {
  user-select: none;
  -moz-user-select: none;
}

body {
  background: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

button {
  background: rgba(255, 32, 32, 0.76);
  border: none;
  color: rgba(255, 255, 255, 0.774);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  outline: none;
  text-align: center;
  width: 4rem;
}

h1 {
  margin-top: 57%;
  width: 100%;
}

p {
  font-size: 1.1rem;
  margin: 0;
}

span {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 4px;
}

.app {
  margin: 0 auto;
  padding: 0;
  max-width: 45rem;
}

.map {
  background: rgb(19, 161, 78);
  position: absolute;
  z-index: 1;
}

.player {
  display: inline-block;
  height: 0;
  margin: 0;
  width: 0;
  z-index: 3;
}

.food {
  border: 1px solid rgba(3, 3, 3, 0.7);
  border-radius: 50%;
  display: inherit;
  height: 0;
  margin: 0;
  position: absolute; 
  width: 0;
  z-index: 2;
}

.uiBar {
  background: rgb(92, 92, 92);
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
  margin-bottom: 0;
  max-width: 100%;
  padding: 1rem;
}

.stageCounter {
  justify-self: left;
  margin-left: 2rem;
  text-align: left;
  width: 150px;
}

.score {
  margin-left: auto;
  text-align: left;
  width: 220px;
}

.highScore {
  justify-self: flex-end;
  margin-left: .5rem;
  text-align: left;
  width: 220px;
}

.timers p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.backgroundTimer {
  margin-top: 100px;
  text-shadow: 1px 1px 0px rgba(68, 68, 68, 0.459);
  z-index: 1;
}

.foregroundTimer {
  color: white;
  margin-top: -37px;
  z-index: 3;
}

div button {
  font-size: .8rem;
  height: 25px;
  margin: auto;
  margin-left: 0;
  padding: 0;
  width: 5rem;
}

.notMuted {
  background: rgb(224, 122, 26);
  letter-spacing: .5px;
}

.muted {
  background: rgba(224, 122, 26, 0.63);
  color: rgba(255, 255, 255, 0.315);
  letter-spacing: 0;
}

.startButton {
  letter-spacing: 4px;
  min-width: 5.5rem;
}

.startButton:active {
  background: rgba(224, 26, 26, 0.774);
  transform: scale(.9);
  transition: .05s;
}